.banner{
    background-color: $colorPrincipal;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        img{
            border-radius: 50%;
            width: 15rem;
            padding: 1rem;
        }
                &-texto{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem;
                    h1, .star, p{
                        padding: 1rem;
                    }
                    h1{
                        text-transform: uppercase;
                    }
                }
}
