header{
    background-color: $colorSecundario;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem;
        h2{
            font-family: 'Kanit', sans-serif;
            font-size: 1.2rem;
        }
        .burguer{
            padding: 5px;
            cursor: pointer;
            @media screen and ($mediaTablet){
                display: none;
            }
        }  
        nav{
            display: none;
                @media screen and ($mediaTablet){
                    display: block;
                        ul{
                            margin-bottom: 0; 
                        li{
                            list-style-type: none;
                            display: inline-block;
                            padding: 5px;
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                        }
                        }
                }    
        }
}
