/** Variables **/
$colorPrincipal : rgb(107, 171, 201); // $nombrevariable asigna el nombre de la variable
$colorSecundario : rgb(63, 104, 138);
$colorTerciario : rgb(14, 14, 53);
$mediaTablet : 'min-width: 460px';