@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/********* HEADER *********/
header{
    background-color:#222222;
}
.hamburguesa{
    color: white;
    font-size: 2rem;
    display: none;
}
.hcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.hcontainer li{
    list-style-type: none;
    color: white;
    padding: 5px;
    display: inline-block;
} 

/********** MAIN ***********/
main{
    background-color: #F3F3F3;
}
h2{
    color: red;
    padding: 15px;
}
span{
    color: white;
}
.mcontainer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.delivery{
    background-image: url('../img/delivery.svg');
    background-size: cover;
    Width: 490px;
    Height: 350px;
}
.pizzas{
    background-color: #FFFFFF;
    Width: 490px;
    Height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pizzas-podio{
    display: flex;
}
/**********Footer*************/
footer{
    background-color:#222222;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    color: white;
}

/********* responsive ********/
@media screen and (max-width: 768px){ /*tablet */
    header nav{
        display: none;
    }
    .hcontainer .hamburguesa{
        display: block;
        margin-right: 20px;
    }
    header nav{
        display: none;
    }
    .mcontainer{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 480px){
    .delivery, .pizzas{
        width: 100vw;
    }
}