@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
/************Header************/
a{
    text-decoration: none;
    color: black;
}
/************Main************/
.banner{
    background-color: white;
    background-image: url("../img/lemon-pie\ 1.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 350px;
}
.banner p{
    color: white;
    font-size: 16px;
}
.icono{
    margin-right: 10px;
    padding: 5px;
}
h1{
    font-weight: bold;
    color: white;
    font-size: 48px;
    padding: 5px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}
h3{
    font-style: italic;
    padding: 5px;
}
/************footer***********/
footer{
    background-color: #ccc;
    text-align: center;
}
.icono-footer{
    margin-left: 10px;
}