@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/********** Body *******/

*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.descuento{
    background-color: #1CD1B0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
}
header{
    font-size: 2rem;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    background-color: #00669F;
}

/******* Header *******/
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 5px;
}
header ul li{
    display: inline-block;
}
.menu-nav{
    background-color:#001D2D;
    text-align: right;

}

/******main******/

.container{
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-grow: 0;
}

.card{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    background-color: #F3F3F3;
    box-shadow: 1px 5px 5px grey;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-img{
    background-image: url('../img/fondobatman.svg');
    height: 11.8rem;
    background-size: cover;
    position: relative;
}
.card-img-harley{
    background-image: url('../img/fondoharley.svg');
    height: 11.8rem;
    background-size: cover;
    position: relative;
}
.card-img-ww{
    background-image: url('../img/wwfondo.svg');
    height: 11.8rem;
    background-size: cover;
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem;
}
.card-img-superman{
    background-image: url('../img/supermanfondo.svg');
    height: 11.8rem;
    background-size: cover;
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem;
}
.card-img #fotito, .card-img-harley #fotito, .card-img-ww #fotito, .card-img-superman #fotito {
    position: absolute;
    border-radius: 50%;
    bottom: -60px;
    height: 50%;
    left: calc(50% - 60px);
}

.card-img #corazon, .card-img-harley #corazon, .card-img-ww #corazon, .card-img-superman #corazon{
    padding: 1.4rem;
}

.card-text{
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text p{
    padding: 1rem;
}
.card-button a{
    padding: 1rem;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #00669F;
}

footer{
    background-color: #00669F;
    color: white;
    padding: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.git{
    text-decoration: none;
    color: white;
}

/********** Responsive ************/
@media screen and (max-width: 768px){
    .container{
        flex-wrap: wrap;
        align-content: space-around;
    }
    .card{
        width: 50%;
        height: 50%;
    }
    .descuento{
        background-color:#D1891C;
    }
    .heroes{
        color: white;
    }
    footer p{
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
}
}