@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/********** Body *******/

*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.heroes{
    padding: 0 0 0 15px;
    font-size: 30px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    background-color: #00669F;
}

/******* Header *******/

header p{
    background-color: #1CD1B0;
    padding: 0 0 0 15px;
    font-size: 15px;
}

/******main******/

.container{
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: 500px;
    margin-bottom: 10px;
    background-color: #F3F3F3;
    box-shadow: 1px 5px 5px grey;
}

.card-img{
    background-image: url('../img/fondobatman.svg');
    height: 190px;
    position: relative;
}
.card-img-harley{
    background-image: url('../img/fondoharley.svg');
    height: 190px;
    position: relative;
}
.card-img #fotito, .card-img-harley #fotito{
    position: absolute;
    border-radius: 50%;
    bottom: -60px;
    left: calc(50% - 60px);
}
.card-img #corazon, .card-img-harley #corazon{
    padding: 25px;
}

.card-text{
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text p{
    padding: 20px;
}
.card-button a{
    padding: 15px;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #00669F;
}

footer{
    background-color: #00669F;
    color: white;
    padding: 10px;
}