@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/******* Header *******/
header{
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    background-color: #00669F;
}

.descuento{
    background-color: #1CD1B0;
    padding: 0 0 0 15px;
    font-size: 15px;
}

.heroes{
    padding: 0 0 0 15px;
    font-size: 30px;
    font-weight: bold;
}

/*main*/
.container{
    display: flex;      /******** UBICAR TODO CON FLEX******/
    justify-content: space-around;
    margin: 50px 50px;
}

.card{
    background-color: #F3F3F3;
    height: 200px;
    width: 312px;  
    margin-left: 30px;
    border-top: 100px;
    position: relative;
}
.card-img-batman{
    background-image: url("../img/849bfede3a5193c34ab8a00379e64fa2\ 1.svg");
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
.card-img #fotito{
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    bottom: -31%;
    right: 29%;
}
.card-text{
    background-color: #F3F3F3;
    padding: 50px;
    text-align: justify;
}
.card-text h2{
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.card-button a{
    background-color: #00669F;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
}
