/*header*/
header{
    background-color: #E6E6E6;
    text-align: center;  /* Le v{a a pegar a la imagen de batman tmb*/
}
h1, h2{
        color: #005677;
        background-color: #C4C4C4;
        padding: 5px, 20px; /*le da ancho al borde de la caja. Si pongo dos valores 1)arriba y abajo 2(der e izq)*/
}

/*Main*/ 
.container{
    margin: 40px, auto;
    max-width: 70%;
}
span{
    font-weight: bold;
}
.datos_personales span{
    font-style: italic;
}

/*footer*/
footer{
    color: white;
    background-color: #005677;
    text-align: center;
}
footer h3{
    display: inline-block; /* le bloque el bloque al titulo iconos al lado*/
}
.iconos{
    margin-left: 30px;
}