/* Header */ 
header{
    background-color: #F0A83E;
}
.arriba{
    background-color: #222222;
}

/*Main*/
.banner{
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.svg");
}

